<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.van.webSpring.dao.cluster.StudentDao">

    <resultMap id="student" type="com.van.webSpring.bean.Student">
    <result column="id" property="id" />
    <result column="name" property="name" />
    </resultMap>

    <select id="findAll" resultMap="student">
        select * from student order by student.name asc
    </select>

    <select id="searchByName" resultMap="student">
        select * from student where name = #{name}
    </select>

</mapper>